@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap");

.text-kids-ad-head-text {
  font-family: "Passion One", cursive;
  font-size: 75px;
  font-weight: bolder;
  margin-top: 15px;
}
